<ion-view view-title="Maps">
  <ion-content>
		<div ng-controller="CreateMapCtrl">
			
		
		
		<div class="row">
			<div class="list .col-50">
			  <label class="item item-input">
			      <span class="input-label">Lat</span>
			      <input ng-model="lat" ng-change="changeLat(lat)" type="text">
			   </label>
			</div>
			
			<div class="list  .col-50">
			  <label class="item item-input">
			      <span class="input-label">Long</span>
			      <input ng-model="lng" ng-change="changeLong(lng)" type="text">
			   </label>
			</div>
		</div><!--row-->
		
		
		 <div class="list">
			 <label class="item item-input">
				 <span class="input-label">Address</span>
			     <input ng-model="address" ng-change="changeAddress(address)" type="text">
			 </label>
		 </div>
		 
		
		<button class="button button-stable" ng-click="geoLocate()">
		  Geo Locate
		</button>
		
		</br> 
  		 <leaflet center="center" markers="markers" layers="layers"></leaflet>
		 
		 <div class="list">
			 
		   <label class="item item-input">
		     <span class="input-label">CropType</span>
			 <select ng-options="item.subItem as item.label for item in values track by item.id" ng-model="selected">
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Crop Season</span>
		     <input type="password">
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Acers Affected</span>
		     <input type="password">
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Issue</span>
		     <select ng-options="item.subItem as item.label for item in values track by item.id" ng-model="selected">
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Description</span>
		     <textbox></textbox>
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Stage</span>
		     <textarea></textarea>
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">Symptoms</span>
		     <textarea></textarea>
		   </label>
		   
		   <label class="item item-input">
		     <span class="input-label">How to Care</span>
		     <textbox></textbox>
		   </label>
		   
   		<button class="button button-stable" ng-click="report()">
   		  report
   		</button>
   		<button class="button button-stable" ng-click="cancel()">
   		  cancel
   		</button>
		 </div>
		
	</div>
  </ion-content>
</ion-view>
