<ion-view view-title="Profile">
  <ion-content>
    <h1>Profile</h1>
	<form name='profile' id='profile'>
		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>

		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password">
		</label>

		<label class="item item-input">
			<span class="input-label">Email</span>
			<input type="email">
		</label>
		
		<label class="item item-input">
			<span class="input-label">Telephone</span>
			<input type="tel">
		</label>
	</form>
  </ion-content>
</ion-view>
