<ion-view view-title="Profile">
  <ion-content>
    <h1>Profile</h1>
	<form name='profile' id='profile'>
		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>

		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>

		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>
		
		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>
	</form>
  </ion-content>
</ion-view>
