<ion-view view-title="SearchMap">
	 <ion-content  data-tap-disabled="true">
		<div ng-controller="SearchMapCtrl">
		
			<!--<ion-radio ng-model="local.data" ng-change="onSearch()" ng-value="'other'">Other</ion-radio>-->
			<ion-radio ng-model="local.data" ng-change="onSearch()" ng-value="'Crop'">Crop</ion-radio>
			<ion-radio ng-model="local.data" ng-change="onSearch()" ng-value="'insect'">Insect</ion-radio>
			<ion-radio ng-model="local.data" ng-change="onSearch()" ng-value="'location'">location</ion-radio>
			
	  		<button class="button button-stable" ng-click="geoLocate()">
	  		  Geo Locate
	  		</button>
		
	  		</br> 
	      <map-dir data="local.data"   map-id="'search'" >error</map-dir>
		 
	  	  <div class="list">
 	  		<div class="row">
 				<div class="list .col-50">
 	  			  <label class="item item-input">
 	  			      <span class="input-label">Lat</span>
 	  			      <input ng-model="lat" ng-change="changeLat(lat)" type="text" ng-disable="true">
 	  			   </label>
 	  			</div>
			
 	  			<div class="list  .col-50">
 	  			  <label class="item item-input">
 	  			      <span class="input-label">Long</span>
 	  			      <input ng-model="long" ng-change="changeLong(long)" type="text" ng-disable="true">
 	  			   </label>
 	  			</div>
 	  		</div><!--row-->
			
	  		   <label class="item item-input">
	  		     <span class="input-label">CropType</span>
	  			<input ng-model="lat" ng-change="changeLat(lat)" type="text" ng-disable="true">
	  		   </label>
		   
	  		   <label class="item item-input">
	  		     <span class="input-label">Crop Season</span>
	  		     <input ng-model="lat" ng-change="changeLat(lat)" type="text" ng-disable="true">
	  		   </label>
		   
	  		   <label class="item item-input">
	  		     <span class="input-label">Acers Affected</span>
	  		     <input ng-model="lat" ng-change="changeLat(lat)" type="text" ng-disable="true">
	  		   </label>
		   
	  		   <label class="item item-input">
	  		     <span class="input-label">Issue</span>
	  		     <input ng-model="lat" ng-change="changeLat(lat)" type="text" ng-disable="true">
			 </label>
		   
			   <label class="item item-input">
			     <span class="input-label">Description</span>
			     <textbox ng-model="local.pest.description"></textbox>
			   </label>
		   
			   <label class="item item-input">
			     <span class="input-label">Stage</span>
			     <textarea ng-model="local.pest.destuctiveStage"></textarea>
			   </label>
		   
			   <label class="item item-input">
			     <span class="input-label">Symptoms</span>
			     <textarea ng-model="local.pest.symptoms"></textarea>
			   </label>
		   
			   <label class="item item-input">
			     <span class="input-label">How to Care</span>
			     <textarea  ng-model="local.pest.care"></textarea>
			   </label>
		   
	     		<button class="button button-stable" ng-click="save()">
	     		  Save 
	     		</button>
	     		<button class="button button-stable" ng-click="cancel()">
	     		  cancel
	     		</button>
	  		 </div>
		
		 </div><!--controller-->
		      
	</ion-content>
</ion-view>
	 