      
	  <ion-view view-title="SearchMap">
	    <ion-content>
		 <h1 class="title">SearchMap</h1>
	      <!--<h1>Playlist</h1>
		  	  <view title="'Map'" left-buttons="leftButtons" right-buttons="rightButtons">
		          <content has-header="true" has-footer="false" scroll="false">
		            <div id="map">

		            </div>
          
		          </content>
		        <div class="bar bar-footer bar-dark">
		            <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
		          </div>-->
		        </view>
	    </ion-content>
	  </ion-view>
	 